.o-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;

    li a .a-typography {
        text-transform: capitalize;
        font-size: 18px;
        color: $white;
        cursor: pointer;
        transition: all 0.5s ease;

        &:hover {
            color: #f00;
            transform: scale(1.1) translate(2px, 2px);
            transition: transform 0.5s ease;
        }
    }
}
